Repository ceph/ceph-salt, pull requests merged in 2020-01, with the labels that each got.

#13 Each command should return a success or error message
  .pylintrc
  ceph_bootstrap/config_shell.py
  ceph_bootstrap/terminal_utils.py
Labels: enhancement

#23 core: 'ceph-salt:minions:all' must contain minions without role
  ceph_bootstrap/core.py
  tests/test_config_shell.py
Labels: bug

#25 configshell: Remove minions only if no error is thrown
  ceph_bootstrap/config_shell.py
  tests/test_config_shell.py
Labels: AddToChangelog, bug

#26 Move ceph-salt-formula into ceph-bootstrap git repo and package it as a subpackage
  ceph-bootstrap.spec
  ceph-salt-formula/metadata/metadata.yml
  ceph-salt-formula/metadata/pillar.example
  ceph-salt-formula/states/apparmor.sls
  ceph-salt-formula/states/ceph-mgr.sls
  ceph-salt-formula/states/ceph-mon.sls
  ceph-salt-formula/states/ceph-osd.sls
  ceph-salt-formula/states/cephbootstrap.sls
  ceph-salt-formula/states/files/chrony.conf.j2
  ceph-salt-formula/states/init.sls
  ceph-salt-formula/states/software.sls
  ceph-salt-formula/states/sshkey.sls
  ceph-salt-formula/states/time.sls
Labels: AddToChangelog, feature, refactoring

#27 core: Check minion FQDN not resolving to loopback IP address
  ceph_bootstrap/config_shell.py
  ceph_bootstrap/core.py
  ceph_bootstrap/exceptions.py
  tests/test_config_shell.py
Labels: bug, ceph-bootstrap

#36 config_shell: fix Bootstrap help message
  ceph_bootstrap/config_shell.py
Labels: AddToChangelog, ceph-bootstrap, documentation

#41 Fix error deploying config without external time server
  ceph-salt-formula/states/files/chrony.conf.j2
Labels: AddToChangelog, bug, ceph-salt-formula

#39 Rename "bootstrap_mon" to "bootstrap_minion" (and more...)
  ceph-salt-formula/metadata/pillar.example
  ceph-salt-formula/states/cephbootstrap.sls
  ceph-salt-formula/states/init.sls
  ceph-salt-formula/states/sshkey.sls
  ceph_bootstrap/config_shell.py
  ceph_bootstrap/core.py
  tests/test_config_shell.py
Labels: bug, ceph-bootstrap, ceph-salt-formula, enhancement, refactoring

#33 qa: initial integration testing script
  ceph-bootstrap.spec
  qa/README.rst
  qa/common/common.sh
  qa/common/helper.sh
  qa/common/json.sh
  qa/common/zypper.sh
  qa/health-ok.sh
Labels: AddToChangelog, ceph-bootstrap, feature

#44 deploy: real-time progress UI for salt-formula execution
  .pylintrc
  ceph-bootstrap.spec
  ceph-salt-formula/salt/_states/ceph_salt.py
  ceph-salt-formula/salt/ceph-salt/apparmor.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph-salt-formula/salt/ceph-salt/software.sls
  ceph-salt-formula/salt/ceph-salt/sshkey.sls
  ceph-salt-formula/salt/ceph-salt/time.sls
  ceph-salt-formula/salt/macros.yml
  ceph-salt-formula/states/ceph-osd.sls
  ceph-salt-formula/states/software.sls
  ceph_bootstrap/__init__.py
  ceph_bootstrap/deploy.py
  ceph_bootstrap/exceptions.py
  ceph_bootstrap/salt_event.py
  ceph_bootstrap/salt_utils.py
  ceph_bootstrap/terminal_utils.py
  tests/__init__.py
  tests/test_deploy.py
  tests/test_pillar_manager.py
  tests/test_salt_event.py
Labels: AddToChangelog, ceph-bootstrap, ceph-salt-formula, feature

#47 Error applying "ceph-salt" state without roles
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph-salt-formula/salt/ceph-salt/sshkey.sls
Labels: AddToChangelog, bug, ceph-salt-formula

#50 salt_utils: redirect stdout to /dev/null when calling salt grains commands
  ceph_bootstrap/salt_utils.py
Labels: AddToChangelog, ceph-bootstrap, enhancement

#49 configshell: Dashboard password must be hidden
  ceph_bootstrap/config_shell.py
Labels: AddToChangelog, bug, ceph-bootstrap

#51 cli: require root to run ceph-bootstrap commands
  ceph_bootstrap/__init__.py
  ceph_bootstrap/terminal_utils.py
Labels: AddToChangelog, ceph-bootstrap, enhancement

#54 Prepare CHANGELOG for v15.0.2
  CHANGELOG.md
Labels: documentation

#55 Fix missing directory in spec file
  ceph-bootstrap.spec
Labels: bug
