Repository ceph/ceph-salt, pull requests merged in 2020-04, with the labels that each got.

#157 Fix "status" error when ceph_orch salt module is not available
  ceph_salt/salt_utils.py
Labels: Add To Changelog, bug, ceph-salt

#156 Allow explicit set bootstrap Mon IP
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph_salt/config_shell.py
  ceph_salt/core.py
  ceph_salt/exceptions.py
  ceph_salt/validate/config.py
  tests/test_config_shell.py
  tests/test_validate_config.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula, feature

#162 Support quoted string values
  ceph_salt/__init__.py
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, cleanup

#166 Use lowecase on config nodes
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, cleanup

#167 Rename minions "rm" command to "remove"
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, cleanup

#113 Allow users to configure custom registries
  ceph-salt-formula/salt/ceph-salt/container.sls
  ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2
  ceph-salt-formula/salt/ceph-salt/files/managed-header.txt.j2
  ceph-salt-formula/salt/ceph-salt/files/registries.conf.j2
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph_salt/config_shell.py
  ceph_salt/exceptions.py
  ceph_salt/params_helper.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula, feature

#171 Fix minion `remove` auto-complete
  ceph_salt/config_shell.py
Labels: bug, ceph-salt

#174 core: avoid 127.0.0.1 as a nodes public_ip
  ceph_salt/core.py
Labels: Add To Changelog, cleanup

#178 GitHub Actions and Workflows are not being used ATM
  .github/READ_THIS
Labels: documentation

#165 Allow explicit set chrony subnet
  ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2
  ceph_salt/config_shell.py
  ceph_salt/core.py
  ceph_salt/validate/config.py
  tests/__init__.py
  tests/test_config_shell.py
  tests/test_validate_config.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula, feature

#179 Skip monitoring stack on bootstrap
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
Labels: Add To Changelog, ceph-salt-formula

#175 Support adding new hosts after initial deployment
  ceph-salt-formula/salt/_modules/ceph_orch.py
  ceph-salt-formula/salt/_modules/ceph_salt.py
  ceph-salt-formula/salt/_states/ceph_orch.py
  ceph-salt-formula/salt/_states/ceph_salt.py
  ceph-salt-formula/salt/ceph-salt/ceph-admin.sls
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph-salt-formula/salt/ceph-salt/cephorch.sls
  ceph-salt-formula/salt/ceph-salt/cleanup.sls
  ceph-salt-formula/salt/ceph-salt/find-admin-host.sls
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph-salt-formula/salt/ceph-salt/sshkey.sls
Labels: Add To Changelog, bug, ceph-salt-formula

#182 Support config nodes of type "dict"
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: ceph-salt, cleanup

#185 Require Salt >= 3000
  ceph-salt.spec
  ceph_salt/salt_event.py
  setup.cfg
Labels: Add To Changelog, bug

#187 Fix typo on README
  README.md
Labels: documentation

#186 Fix lower case paths on README
  README.md
Labels: documentation

#184 Remove "disable cephadm bootstrap" functionality
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph_salt/config_shell.py
  ceph_salt/validate/config.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula

#188 Fix `status` error when no minions are specified
  ceph_salt/config_shell.py
Labels: Add To Changelog, bug, ceph-salt

#200 Rename `ceph-salt deploy` to `ceph-salt apply`
  README.md
  ceph_salt/__init__.py
  ceph_salt/apply.py
  ceph_salt/config_shell.py
  tests/test_deploy.py
Labels: Add To Changelog, cleanup

#170 Advanced settings for "cephadm bootstrap"
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, feature

#202 Sync clocks to avoid clock skew when MONs start
  ceph-salt-formula/salt/ceph-salt/files/chrony_sync_clock.sh
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph-salt-formula/salt/ceph-salt/time-prep.sls
  ceph-salt-formula/salt/ceph-salt/time-sync.sls
Labels: Add To Changelog, feature
