Repository ceph/ceph-salt, pull requests merged in 2020-02, with the labels that each got.

#61 Salt-master validation and automatic pillar setup
  .pylintrc
  ceph-bootstrap.spec
  ceph_bootstrap/__init__.py
  ceph_bootstrap/config_shell.py
  ceph_bootstrap/exceptions.py
  ceph_bootstrap/salt_utils.py
  ceph_bootstrap/validate/__init__.py
  ceph_bootstrap/validate/salt_master.py
  setup.cfg
  tests/__init__.py
  tests/test_config_shell.py
  tests/test_pillar_manager.py
  tests/test_validate_salt_master.py
Labels: ceph-bootstrap, feature

#62 qa/ceph_health_test: wait more verbosely
  qa/common/common.sh
Labels: tests

#63 Extend README.md
  README.md
  _images/architecture.odg
  _images/architecture.png
Labels: documentation

#68 ceph_bootstrap/deploy: check and load ceph-salt formula before deployment
  ceph_bootstrap/deploy.py
  ceph_bootstrap/salt_utils.py
  ceph_bootstrap/validate/salt_master.py
  tests/__init__.py
  tests/test_deploy.py
Labels: AddToChangelog, ceph-bootstrap, enhancement

#74 ceph-salt-formula: Rename calls to Ceph Orchestrator
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
Labels: bug, ceph-salt-formula

#75 setup.cfg: fix salt python library version
  setup.cfg
Labels: bug

#77 setup.cfg: set salt version to < 3000
  setup.cfg
Labels: bug, ceph-bootstrap

#78 Install podman
  ceph-salt-formula/salt/ceph-salt/software.sls
Labels: AddToChangelog, bug, ceph-salt-formula

#80 ceph-salt-formula: Rename ceph orch apply command
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
Labels: AddToChangelog, bug, ceph-salt-formula

#76 System update and reboot during deployment
  ceph-salt-formula/salt/_modules/ceph_orch.py
  ceph-salt-formula/salt/_modules/ceph_salt.py
  ceph-salt-formula/salt/_states/ceph_salt.py
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph-salt-formula/salt/ceph-salt/provision-begin.sls
  ceph-salt-formula/salt/ceph-salt/provision-end.sls
  ceph-salt-formula/salt/ceph-salt/software.sls
  ceph_bootstrap/__init__.py
  ceph_bootstrap/config_shell.py
  ceph_bootstrap/core.py
  ceph_bootstrap/deploy.py
  ceph_bootstrap/exceptions.py
  ceph_bootstrap/salt_event.py
  ceph_bootstrap/salt_utils.py
  tests/__init__.py
  tests/test_config_shell.py
  tests/test_deploy.py
  tests/test_grains_manager.py
  tests/test_salt_event.py
Labels: AddToChangelog, ceph-bootstrap, ceph-salt-formula, feature

#82 HOWTORELEASE.md: Describe Github label workflow and fix commands
  HOWTORELEASE.md
Labels: documentation

#85 ceph-salt-formula: eliminate implicit dependency on which
  ceph-salt-formula/salt/_modules/ceph_orch.py
  ceph-salt-formula/salt/ceph-salt/apparmor.sls
  ceph_bootstrap/deploy.py
Labels: Add To Changelog, ceph-salt-formula

#88 Migrate ceph-bootstrap-qa to sesdev (Part 1)
  ceph-bootstrap.spec
  qa/README.rst
  qa/common/common.sh
  qa/common/helper.sh
  qa/common/json.sh
  qa/common/zypper.sh
  qa/health-ok.sh
Labels: Add To Changelog

#93 Rename ceph-bootstrap to ceph-salt
  CHANGELOG.md
  HOWTORELEASE.md
  README.md
  ceph-salt.spec
  ceph_salt/__init__.py
  ceph_salt/config_shell.py
  ceph_salt/core.py
  ceph_salt/deploy.py
  ceph_salt/exceptions.py
  ceph_salt/salt_event.py
  ceph_salt/salt_utils.py
  ceph_salt/terminal_utils.py
  ceph_salt/validate/__init__.py
  ceph_salt/validate/salt_master.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/test_config_shell.py
  tests/test_deploy.py
  tests/test_grains_manager.py
  tests/test_pillar_manager.py
  tests/test_salt_event.py
  tests/test_ssh_manager.py
  tests/test_validate_salt_master.py
  tox.ini
Labels: ceph-bootstrap, refactoring

#94 Github repo moved from SUSE to Ceph organization
  CHANGELOG.md
  HOWTORELEASE.md
  README.md
  ceph-salt.spec
  setup.cfg
Labels: refactoring

#92 Check os_family before executing zypper command
  ceph-salt-formula/salt/_states/ceph_salt.py
Labels: Add To Changelog, ceph-salt-formula, enhancement

#95 Fix salt job return event processing
  ceph_salt/salt_event.py
Labels: Add To Changelog, bug, ceph-salt
