Repository ceph/ceph-salt, pull requests merged in 2020-03, with the labels that each got.

#89 CephSaltExecutor: check existing deployment: Use local_cmd
  ceph_salt/deploy.py
  ceph_salt/salt_utils.py
Labels: Testing...

#98 salt formula: add `--skip-prepare-host` to `cephadm bootstrap`
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
Labels: Testing...

#106 ceph-salt-formula: tell ceph orch the right number of mgrs
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
Labels: Testing...

#108 ceph-mon: use "ceph orch daemon add mon" to add remaining MONs
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
Labels: Testing...

#111 Renamed "host" field to "hostname"
  ceph_salt/deploy.py
  tests/test_deploy.py
Labels: Add To Changelog, bug, ceph-salt

#109 ceph-osd: work around timing issue in device list
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
Labels: Workaround, ceph-salt-formula

#105 ceph-mon: automatically set chooseleaf type if needed
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
Labels: Workaround

#112 Add "status" command
  ceph_salt/__init__.py
  ceph_salt/config_shell.py
  ceph_salt/deploy.py
  ceph_salt/terminal_utils.py
  ceph_salt/validate/config.py
  tests/test_deploy.py
  tests/test_validate_config.py
Labels: Add To Changelog, ceph-salt, feature

#90 Support config export and import
  ceph_salt/__init__.py
  ceph_salt/config_shell.py
  tests/__init__.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, feature

#115 No default value for Ceph container image path
  README.md
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
  ceph_salt/config_shell.py
  ceph_salt/validate/config.py
  tests/test_validate_config.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula

#117 spec,setup.cfg: bump PyYAML dependency
  ceph-salt.spec
  ceph_salt/salt_utils.py
  setup.cfg
  tests/__init__.py
Labels: Add To Changelog, build/ops

#121 Add "Admin" role
  ceph-salt-formula/salt/ceph-salt/ceph-admin.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph_salt/config_shell.py
  ceph_salt/core.py
  ceph_salt/validate/config.py
  tests/test_config_shell.py
  tests/test_validate_config.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula

#126 configshell: Handle execution errors (e.g. Command not found)
  ceph_salt/config_shell.py
Labels: bug, ceph-salt

#122 Use `cephadm pull` instead of `podman pull`
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
Labels: Add To Changelog, ceph-salt-formula

#134 Work around podman/runc bug
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
Labels: bug

#133 ceph-osd.sls: use new OSD creation syntax
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
Labels: Add To Changelog, bug, ceph-salt-formula

#136 ceph-mgr.sls: do not omit bootstrap MGR from "ceph orch apply mgr"
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
Labels: Add To Changelog, bug, ceph-salt-formula

#138 setup.cfg: Fix changelog description file
  setup.cfg
Labels: documentation

#137 cephtools.sls: run "cephadm check-host" on all minions
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
Labels: Add To Changelog, ceph-salt-formula

#140 chrony.conf.j2: do not add extra newlines to chrony.conf
  ceph-salt-formula/salt/ceph-salt/files/chrony.conf.j2
Labels: cleanup

#129 Support bootstrap ceph config
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula, feature

#144 Improve descriptions of stages and steps
  ceph-salt-formula/salt/ceph-salt/ceph-admin.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mgr.sls
  ceph-salt-formula/salt/ceph-salt/ceph-mon.sls
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
  ceph-salt-formula/salt/ceph-salt/cephbootstrap.sls
  ceph-salt-formula/salt/ceph-salt/cephtools.sls
  ceph-salt-formula/salt/ceph-salt/software.sls
  ceph-salt-formula/salt/ceph-salt/sshkey.sls
  ceph-salt-formula/salt/ceph-salt/time.sls
Labels: Add To Changelog

#146 OSDs are no longer deployed by `ceph-salt`
  ceph-salt-formula/salt/ceph-salt/ceph-osd.sls
  ceph-salt-formula/salt/ceph-salt/init.sls
  ceph_salt/config_shell.py
  tests/test_config_shell.py
Labels: Add To Changelog, ceph-salt, ceph-salt-formula

#152 Add Bootstrap role to the README
  README.md
  _images/architecture.odg
  _images/architecture.png
Labels: documentation

#155 Install private/public keys on admin nodes
  ceph-salt-formula/salt/ceph-salt/sshkey.sls
Labels: Add To Changelog, bug, ceph-salt-formula
